In [39]:
import joblib
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.metrics.pairwise import rbf_kernel

In [40]:
# Getting ready custom classes and function for prediction
# def column_ratio(X):
#     return X[:, [0]] / X[:, [1]]

# def ratio_name(function_transformer, feature_names_in):
#     return ["ratio"]

# class ClusterSimilarity(BaseEstimator, TransformerMixin):
#     def __init__(self, n_clusters=10, gamma=1., random_state=42):
#         self.n_clusters = n_clusters
#         self.gamma = gamma
#         self.random_state = random_state
    
#     def fit(self, X, y=None, sample_weight=None):
#         self.kmeans_ = KMeans(self.n_clusters, random_state=self.random_state)
#         self.kmeans_.fit(X, sample_weight=self.sample_weight)
#         return self
    
#     def transform(self, X):
#         return rbf_kernel(X, self.kmeans_.cluster_centers_, gamma=self.gamma)
    
#     def get_feature_names_out(self, names):
#         return [f"Cluster {i}" for i in range(self.n_clusters)]

In [41]:
# Load machine learning model
model = joblib.load("my_first_best_machine_learning_model.pkl")

In [42]:
# Load data
data = pd.read_csv("housing.csv")
# Remove madian_house value
data.drop("median_house_value", axis=1, inplace=True)

In [43]:
new_data = data.copy()
new_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

In [44]:
prediction = model.predict(new_data)

In [45]:
pd.Series(prediction)

0        428026.03
1        361627.00
2        410571.36
3        311974.00
4        339895.00
           ...
20635     83819.00
20636     81769.00
20637     90653.00
20638     85022.00
20639     89593.00
Length: 20640, dtype: float64